# Exclure les fichiers CSV de d'OFF
data/en.openfoodfacts.org.products.csv
data/insert.py
data/en.openfoodfacts.org.products.csv.gz
dump.sql
!sql-scripts/dump.sql
/target/
# Exclure les fichiers générés par Eclipse
.classpath
.project
.settings/
mysql_data/*
.metadata/
data/OpenFoodFacts - OpenFoodFacts.csv