# Exclure les fichiers CSV de d'OFF
data/en.openfoodfacts.org.products.csv
data/insert.py
/target/
# Exclure les fichiers générés par Eclipse
.classpath
.project
.settings/
mysql_data/*
.metadata/
data/OpenFoodFacts - OpenFoodFacts.csv